.btn {
  background-color: rgb(117, 195, 0);
  color: white;
  font-weight: 400;
  width: 100px;
  margin-top: 20px;
  border-radius: 20px;
}
.btn:hover {
  background-color: rgb(84, 139, 0);
  color: white;
  font-weight: 400;
}
li.button {
  text-align: center;
}
.radio {
  margin-top: 20px;
}

#signIn {
  top: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#addon-wrapping,
#LnD {
  height: 38px;
}

#signUpUser {
  top: 95%;
  width: 80%;
  position: absolute;
  left: 10%;
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#signUpBtns {
  top: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  display: none;
  flex-direction: row;
  justify-content: center;
}
#signUpBtns .btn {
  width: 150px;
  border-radius: 40px;
  margin: 10px;
}
#signUpCompany {
  top: 95%;
  width: 80%;
  position: absolute;
  left: 10%;
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#editProfile {
  top: 75%;
  width: 80%;
  position: absolute;
  left: 10%;
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
span.error {
  color: red;
  position: absolute;
  top: -60%;
}
